.contacts-list {
    display: flex;
    margin-left: auto;
    @extend %list;

    &__item:not(:last-child) {
        margin-right: 50px;
    }

    &__link {
        padding: 32px 0;

        @extend %link;

        color: $primary-text-color;
        transition: color $transition-tmting  $transition-cubic;
    }

    & :hover,
    & :focus
    {
        color: $accent-color;
    }

    &__icon {
        margin-right: 10px;
        fill: currentColor;
    }

}