.portfolio {
    @extend %section;

    &__filter {
        @extend %list;
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }

    &__filter-item:not(:last-child) {
        margin-right: 8px;
    }

    &__list {
        @extend %list;
        display: flex;
        flex-wrap: wrap;
    }

}